<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] [%level] %logger: %msg%n</pattern>
        </encoder>
    </appender>

    <!-- specific-class debuging -->
    <logger name="org.sesquipedalian_dev.scala2DGaming.ui.javafx.ScheduleUiController" level="TRACE" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- default logger if nothing more specific is said -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>